@import "tailwindcss";

:root {

   /* Fizzy Goblet Theme */
   /* --color-background: #FBF7F1;
   --color-surface: #F3EBDD;
   --color-surface-light: #FFFDF9;
   --color-surface-lighter: #F7F2EA;
   --color-surface-contrast: #1A1410;

   --color-primary: #E8A2A2;
   --color-primary-light: #EFBCBC;
   --color-primary-lighter: #F7DEDE;
   --color-primary-contrast: #FFFFFF;

   --color-text: #221A15;
   --color-text-muted: #6E6259;
   --color-text-light: #A69A8C;
   --color-text-inverse: #FFFFFF;

   --color-border: #E8DFD1; */

   /* Dot & key Theme */
   /* --color-background: #FFFFFF;
   --color-surface: #FFF0F5;
   --color-surface-light: #FFFFFF;
   --color-surface-lighter: #FDF2F6;
   --color-surface-contrast: #1A0E14;

   --color-primary: #EC1E63;
   --color-primary-light: #F14D82;
   --color-primary-lighter: #FBD5E3;
   --color-primary-contrast: #FFFFFF;

   --color-text: #1A0E14;
   --color-text-muted: #6B5A61;
   --color-text-light: #A38F97;
   --color-text-inverse: #FFFFFF;

   --color-border: #F0DDE4; */

   /* Eye Lounge Theme */
   --color-background: #FFFFFF;
   --color-surface: #F5F5F5;
   --color-surface-light: #FFFFFF;
   --color-surface-lighter: #FAFAFA;
   --color-surface-contrast: #000000;

   --color-secondary: #4A4A4A;
   --color-secondary-light: #6B6B6B;
   --color-secondary-lighter: #D9D9D9;
   --color-secondary-contrast: #FFFFFF;

   --color-primary: #000000;
   --color-primary-light: #2B2B2B;
   --color-primary-lighter: #E5E5E5;
   --color-primary-contrast: #FFFFFF;

   --color-text: #111111;
   --color-text-muted: #666666;
   --color-text-light: #999999;
   --color-text-inverse: #FFFFFF;

   --color-border: #E0E0E0;
}

body {
   /* Fizzy Goblet Theme */
   /* 
   background: var(--color-background);
   color: var(--color-text);
   font-family: Arial, Helvetica, sans-serif; */

   /* Dot & key Theme */
   /* 
   background: var(--color-background);
   color: var(--color-text);
   font-family: Arial, Helvetica, sans-serif; */

   /* Eye Lounge Theme */
   background: var(--color-background);
   color: var(--color-text);
   font-family: Arial, Helvetica, sans-serif;
}